#container {
  height: 100vh;
}

#card-container {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
}
.card-animation {
  animation: animate 1.5s ease;
}
@keyframes animate {
  from {
    opacity: 0.3;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
